<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/style.css" />
    <!-- <link rel="stylesheet" href="./error.css" /> -->
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="css/bootstrap-5.3.2/dist/css/bootstrap.css" />
    <title><%= title%></title>
  </head>
  <header><%- include('header.ejs') %></header>
  <body>
    <div class="row">
      <div class="w-50 mx-auto">
        <h1>Это главная страница</h1>
        <img src="12.jpg" alt="" />
      </div>
    </div>
    <footer><%- include('footer.ejs') %></footer>
  </body>
</html>
