<footer>
    <section class="footer">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3  ">
            <h4>Информация</h4>
          <hr>
            <ul class="list-unstyled">
              <li><a href="./index.html">Главная</a></li>
              <li><a href="./about us.html">О Нас</a></li>
              <li><a href="./services.html">Услуги</a></li>
              <li><a href="./where to find us.html">Где нас найти</a></li>
              <li><a href="./contacts.html">Контакты</a></li>
            </ul>
          </div>
          <div class="col-md-3  ">
            <h4>Контакты</h4>
            <hr>
            <ul class="list-unstyled">
              <li><a href="tel:+7 813 783-23-26">+7 (813) 783-23-26</a></li>
              <li><a href="tel:+7 813 782-26-76">+7 (813) 782-26-76</a></li>
              <li><a href="mailto:InformServices@gmail.com">InformServices@gmail.com</a></li>
            </ul>
          </div>

          <div class="col-md-3 ">
            <h4>Cоциальные сети</h4>
            <hr>
            <div class="footer-icons">
              <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
              <a href="www.instagram.com"><i class="fab fa-instagram"></i></a>
              <a href="www.twitter.com"><i class="fab fa-twitter"></i></a>
              <a href="https://www.gosuslugi.ru"><img class="gos" width="20" height="20" src="./img/gosyslygi.png" alt=""></a>
            </div>
          </div>
          <h1 class="h1">2003-2022 © Компания Информ Сервис. Все права защищены</h1>
        </div>
      </div>
    </section>
  </footer>